<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
         
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">
                   <li class="active"><a href ="Home">Home</a></li>
                    <li><a href ="#">About</a></li>
                    <li><a href="Account/Login">Login</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master Files<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="Season">Seasons</a></li>
                            <li><a href="SeasonStatusLockups">Season Lockups</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Banks</a></li>                            
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">Integral Business Solutions Co.</p>            
        </div>
    </div>


    @RenderBody()
    @RenderSection("scripts", required: false)



</body>
</html>